<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<mikielis_stockcallus>
			<main>
				<enable>0</enable>
				<text>Call us at [phone] to ask for the product.</text>
			</main>
        </mikielis_stockcallus>
    </default>
</config>
