<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
         <tab id="mikielis" translate="label" sortOrder="1">
        	<label>Mikielis</label>
		</tab>
        <section id="mikielis_stockcallus" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Out Of Stock - Call Us</label>
            <tab>mikielis</tab>
            <resource>Mikielis_StockCallUs::config_hideprice</resource>
            <group id="main" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Module configuration</label>
				<field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable/disable module</label>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="phone_number" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Phone number</label>
				</field>
                <field id="text" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text</label>
                    <comment>The word "[phone]" will be replaced by the phone number</comment>
                </field>
            </group>
		</section>
    </system>
</config>